secrets:
  ssl_cert:
    file: ./secrets/localhost.crt
  ssl_key:
    file: ./secrets/localhost.key

services:
    backend:
        build: ./applyJetPython/
        container_name: backend
        ports:
            - "3000:3000"
        networks:
            - jet
    frontend:
        build: ./frontend
        container_name: frontend
        depends_on:
            - backend
        networks:
            - jet

    reverse-proxy:
        build: ./reverse-proxy
        container_name: reverse-proxy
        ports:
            - "8443:443"
        depends_on:
            - frontend
            - backend
        secrets:
            - ssl_cert
            - ssl_key
        networks:
            - jet

networks:
    jet:
        driver: bridge